*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.0)50%,rgba(0,0,0,0.0)50%), url(blue.jpg);
    background-size: cover;
    padding-left: 0 0 auto;
    height: 100vh;
    display: block;

}

.form{
    width: 250px;
    height: 330px;
    color: #000000;
    background: linear-gradient(to top, rgba(218, 218, 218, 0.96)50%,rgba(218, 218, 218, 0.96)50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 25px;
    border-radius: 10px;
}

.form h1{
    width: 220px;
    text-align: center;
    padding-left: 11px;
    font-size: 30px;
    color: #0c6111;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
}

.form p{
    padding-bottom: -15px;
}

.form input{
    width: 90%;
    height: 35px;
    padding: 0.4375rem 0.875rem;
    margin-bottom: 10px;
    border: 1px solid #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 0.375rem;
    background-color: #dbdbdb
}

.form input[type="submit"]
{
    width: 100%;
    border: none;
    height: 40px;
    color: #ffffff;
    background: #0c6111;
    font-family: inherit;
    font-size: 16px;
    border-radius: 5px;

}

.form input[type="submit"]:hover{
    cursor: pointer;
    background: #137634;
    color: #fff;
}

.form input[type="reset"]
{
    width: 30%;
    margin-left: 50px;
    border: none;
    height: 40px;
    color: #000;
    background: #a7081a;
    font-size: 16px;
    border-radius: 15px;
    float: right;
}

.form input[type="reset"]:hover{
    cursor: pointer;
    background: #a7081a;
    color: #fff;
}
a{
    text-decoration: none;
    color: #0c6111;
}
a:hover{
    text-decoration: none;
    color: #3fbe47;
}

.hello{
	height:auto;
	left: 30px;
	width: 125px;

}

.check{
	vertical-align:auto;
    font-size: 15px;
}

label {
    font-weight: normal !important;
    display: inline-block;
}

.form-label{
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: inherit;
}


.card {
    position:relative;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #ededed;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.7rem;
    
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
    padding: 1.5rem 3.5rem;
}

.card-header {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color:#095eae;
    border-bottom: 0 solid #d9dee3;
  }
  .card-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .card-header,
.card-footer {
  border-color: #d9dee3;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color:#cbced1 !important;
}

.content-wrapper {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.modal-content {
    background-color: #dbdbdb;
    padding: 20px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.511);
    backdrop-filter: blur(8px);
    z-index: 1;
    border-radius: 10%;
  }
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(214, 20, 20);
    text-decoration: none;
    cursor: pointer;
}


/*FORGOT ACCOUNT Section*/
.ForgotPassword input[type="ForgotPassword"] {
    background-color: transparent;
    border: none;
    color: #0c6111;
    cursor: pointer;
    padding: 0;
    text-align: center;
    font-size: 13px;
}
.ForgotPassword input[type="ForgotPassword"]:hover{
    cursor: pointer;
    color:#309050;
    outline: none;
}

/* Create Account Section */
.sign-up input[type="sign-up"] {
    background-color: transparent;
    border: none;
    color: #0c6111;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    width: 22%;
    font-size: 13px;
}
.sign-up input[type="sign-up"]:hover{
    cursor: pointer;
    color:#309050;
    outline: none;
}

.modal input[type="signup"] {
    background-color: #0c6111;
    color: white;
    cursor: pointer;
    padding: 1;
    text-align: center;
    width: 89%;
    font-size: 16px;
}

/* Length Section */
#length {
    font-size: x-small;
}