*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.0)50%,rgba(0,0,0,0.0)50%), url(blue.jpg);
    background-size: cover;
    
    height: 100vh;
    display: block;
    

	
}

.form{
    width: 250px;
    height: 330px;
    color: #000000;
    background: linear-gradient(to top, rgba(218, 218, 218, 0.96)50%,rgba(218, 218, 218, 0.96)50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 25px;
    border-radius: 10px;
}

.form h1{
    width: 220px;
    text-align: center;
    padding-left: 11px;
    font-size: 30px;
    color: #0c6111;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
}

.form p{
    padding-bottom: -15px;
}

.form input{
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #070707;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}

.form input[type="submit"]
{
    width: 100%;
    border: none;
    height: 40px;
    color: #ffffff;
    background: #0c6111;
    font-family: inherit;
    font-size: 16px;
    border-radius: 5px;

}

.form input[type="submit"]:hover{
    cursor: pointer;
    background: #137634;
    color: #fff;
}

.form input[type="reset"]
{
    width: 30%;
    margin-left: 50px;
    border: none;
    height: 40px;
    color: #000;
    background: #a7081a;
    font-size: 16px;
    border-radius: 15px;
    float: right;
}

.form input[type="reset"]:hover{
    cursor: pointer;
    background: #a7081a;
    color: #fff;
}
a{
    text-decoration: none;
    color: #0c6111;
}
a:hover{
    text-decoration: none;
    color: #3fbe47;
}

.hello{
	height:auto;
	left: 30px;
	width: 125px;

}

.check{
	vertical-align:auto;
    font-size: 15px;
}

label {
    font-weight: normal !important;
}


.card {
    position:relative;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #ededed;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.7rem;
    
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
    padding: 1.5rem 3.5rem;
}

.card-header {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color:#095eae;
    border-bottom: 0 solid #d9dee3;
  }
  .card-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .card-header,
.card-footer {
  border-color: #d9dee3;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color:#cbced1 !important;
}

.content-wrapper {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}